@import "vanilla-framework/scss/vanilla";
$grid-max-width: 92rem;

@include vanilla;

.current.reference.internal {
  @include vf-highlight-bar($colors--light-theme--text-default, left);
  background: $colors--light-theme--background-active;
  color: $colors--light-theme--text-default;
}

.headerlink {
  color: $colors--light-theme--text-default;
}
