@import "vanilla-framework/scss/vanilla";
$grid-max-width: 92rem;

@import "pygment";

@include vanilla;

.current.reference.internal {
  @include vf-highlight-bar($colors--light-theme--text-default, left);
  background: $colors--light-theme--background-active;
  color: $colors--light-theme--text-default;
}

.headerlink {
  color: $colors--light-theme--text-default;
}

li > p {
  margin-bottom: 0;
}

//Refactor notification styling to match
.admonition {
  @extend %vf-is-bordered;
  @extend %vf-bg--x-light;

  background-position: $sph-inner $notification-icon-vert-offset;
  background-repeat: no-repeat;
  background-size: map-get($icon-sizes, default);
  border-radius: 0 $border-radius $border-radius 0;
  margin-bottom: $spv-outer--scaleable;
  padding-bottom: calc(#{$spv-inner--small} - 1px);
  padding-left: $notification-content-icon-space;
  padding-top: calc(#{$spv-inner--small} - 1px);
  position: relative;

  &::before {
    height: auto;
    width: 0.1875rem;
    bottom: -1px;
    top: -1px;
    z-index: 1;
    content: "";
    position: absolute;
    left: 0;
  }

  > p {
    margin-bottom: $notification-text-margin-bottom;
  }

  &.note {
    @include vf-highlight-bar($color-information, left, true);
    @include vf-icon-info($color-mid-dark);
  }

  &.danger {
    @include vf-highlight-bar($color-negative, left, true);
    @include vf-icon-error;
  }

  &.caution {
    @include vf-highlight-bar($color-caution, left, true);
    @include vf-icon-warning;
  }

  .admonition-title {
    font-size: 1rem;
    font-weight: $font-weight-bold;
    line-height: map-get($line-heights, default-text);
    margin-bottom: 0.2rem !important;
    margin-top: 0.4005rem;
    padding: 0;
  }
}

.admonition-security-notice {
  padding-left: 1rem;
}
